.MMM-WestBerksBinDay .binday-container {
  line-height: 1.50;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left
}

.MMM-WestBerksBinDay .binday-container .binday-date {
  color: #FFF;
  white-space: nowrap;
  position: absolute;
  left: 100px;
}

.MMM-WestBerksBinDay .binday-container .binday-icon-container {
  white-space: nowrap;
  position: absolute;
  right: 0px;
  top: 4px;
  line-height: 24px;
}

.MMM-WestBerksBinDay .binday-container .binday-icon-container .binday-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: bottom;
  display: inline;
  position: relative;
  margin-left: 4px;
}